/*============ CSS VARIABLES ============*/
:root{
    /* colors */
    --first-color: hsl(218, 44%, 22%);
    --first-color-alt: hsl(212, 45%, 89%) ;
    --white-color: hsl(0, 0%, 100%);
    --grey-color-light: hsl(220, 15%, 55%);
    --attribute-color: hsl(228, 45%, 44%) ;
    --dark-color: hsl(0, 2%, 22%) ;

    /* font */
    --font-body: 'Poppins', sans-serif;
    --font-regular: 1.25rem;
    --font-small: 0.916rem;
    --font-bold: 700;
}

/*============ BASE ============*/
*,*::before,*::after{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family: var(--font-body);
    background-color: var(--first-color-alt);
    color: var(--dark-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: var(--first-color)
}

/*============ QR ============*/

.qr{
    background-color: var(--white-color);
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.qr__img{
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.qr_data{
    justify-content: center;
}

.qr__title{
    font-size: var(--font-regular);
    text-align: center;
    margin-bottom: 1rem;
}

.qr__description{
    font-size: var(--font-small);
    color: var(--grey-color-light);
    text-align: center;
    margin-bottom: 2rem;
}

/*============ Footer ============*/

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:var(--white-color);
}

.attribution{
    color: var(--first-color);
    font-size: var(--font-small);
    text-align: center;
    padding: 0.5rem 0;
}

/*============ MEDIA QURIES ============*/

@media screen and (min-width: 450px){
    :root{
        --font-regular: 1.15rem;
        --font-small: 0.816rem;
    }

    .qr{
        max-width: 300px;
        row-gap: 0.5rem;
    }

    .qr__description{
        margin-bottom: 0.75rem;
    }
}